@page
@model IndexModel
@{
    ViewData["Title"] = "Video Game Collection API";
}

<div class="text-center">
    <h1 class="display-4">Assignment 5: Video Game Collection API</h1>

    <div class="selection">

    <h2>Consoles</h2>

    

    <button class = "btn-secondary" onclick="window.location.href='Consoles/getConsoles'">Show Consoles</button>
    <button class = "btn-secondary" onclick="window.location.href='/Consoles/addConsoles'">Add Console To Collection</button>
    <button class = "btn-secondary" onclick="window.location.href='/Consoles/updateConsoles'">Update Console To Collection</button>
    <button class = "btn-secondary" onclick="window.location.href='/Consoles/deleteConsoles'">Delete Console From Collection</button>

    <h2>Games</h2>

    <button class = "btn-secondary" onclick="window.location.href='/Consoles/getGames'">Show Games</button>
    <button class = "btn-secondary" onclick="window.location.href='/Consoles/addGames'">Add Game To Collection</button>
    <button class = "btn-secondary" onclick="window.location.href='/Consoles/updateGames'">Update Game To Collection</button>
    <button class = "btn-secondary" onclick="window.location.href='/Consoles/deleteGames'">Delete Game From Collection</button>

    <h2>Controllers/Accessories</h2>

    <button class = "btn-secondary" onclick="window.location.href='/Consoles/getControllersAndAccessories'">Show Controllers and Accessories</button>
    <button class = "btn-secondary" onclick="window.location.href='/Consoles/addControllersAndAccessories'">Add Controller/Accessory To Collection</button>
    <button class = "btn-secondary" onclick="window.location.href='/Consoles/updateControllersAndAccessories'">Update Controller/Accessory To Collection</button>
    <button class = "btn-secondary" onclick="window.location.href='/Consoles/deleteControllersAndAccessories'">Delete Controller/Accessory From Collection</button>
    </div>

    <p></p>
</div>
