@page
@model IndexModel
@{
    ViewData["Title"] = "Video Game Collection API";
}

<link rel="stylesheet" href="site.css">

<div class="text-center">
    <h1 class="display-4">Assignment 5: Video Game Collection API</h1>

    <div class="selection">

    <h1>Display</h1>

    <div class="get-table">

    <center>
<table>
<thead>
    <tr>
        <th>ID  </th>
        <th>Title  </th>
        <th>System Name  </th>
        <th>Publisher  </th>
    </tr>
    <!-- Test Data -->
    <td>0 </td>
    <td>CMPS The Game</td>
    <td>Linux PC</td>
    <td>Point Park Games</td>

</thead>
</table>

<tbody>



</tbody>
</center>

</div>



<p>Prototype</p>
</div>
