@page
@model IndexModel
@{
    ViewData["Title"] = "Video Game Collection API";
}

<div class="text-center">
    <h1 class="display-4">Assignment 5: Video Game Collection API</h1>

    <div class="selection">

    <h1>Display</h1>

<center>
<table>
<thead>
    <tr>
        <th>ID  </th>
        <th>Accessory  </th>
        <th>Controller  </th>
        <th>Manufacturer  </th>
        <th>Console Name  </th>
        <th>Description  </th>
    </tr>
</thead>
    <!-- Test Data -->
    <td>0 </td>
    <td>True</td>
    <td>False</td>
    <td>Point Park Accessory Inc.</td>
    <td>MAC</td>
    <td>VR Headset for Mac Computers</td>

</table>

<tbody>



</tbody>
</center>


    <p>Prototype</p>
</div>
