@page
@model IndexModel
@{
    ViewData["Title"] = "Video Game Collection API";
}

<div class="text-center">
    <h1 class="display-4">Assignment 5: Video Game Collection API</h1>

    <div class="selection">

    <h1>Display</h1>



    <p>Prototype</p>
</div>
