@page
@model IndexModel
@{
    ViewData["Title"] = "Video Game Collection API";
}

<div class="text-center">
    <h1 class="display-4">Assignment 5: Video Game Collection API</h1>

    <div class="selection">

    <h1>Display</h1>

    <form action ="/updateControllersAndAccessories.cshtml.cs">
    <label for="id">ID </label> <br>
    <input type="number" id="id" name="id"> <br>

    <label for="accessory">Accessory </label> <br>
    <input type="checkbox" id="accessory" name="accessory"> <br>

    <label for="controller">Controller </label> <br>
    <input type="checkbox" id="controller" name="controller"> <br>

    <label for="manufacturer">Manufacturer </label> <br>
    <input type="text" id="manufacturer" name="manufacturer"> <br>

    <label for="consolename">Console Name </label> <br>
    <input type="text" id="consolename" name="consolename"> <br>

    <label for="description">Description </label> <br>
    <input type="text" id="description" name="description"> <br>

    <input type="submit" value="Submit">



    <p>Prototype</p>
</div>
