@page
@model IndexModel
@{
    ViewData["Title"] = "Video Game Collection API";
}

<div class="text-center">
    <h1 class="display-4">Assignment 5: Video Game Collection API</h1>

    <div class="selection">

    <h1>Display</h1>

    <h2>Adding Console</h2>

    <form action ="/addConsoles.cshtml.cs">
    <label for="id">ID </label> <br>
    <input type="number" id="id" name="id"> <br>

    <label for="name">Name </label> <br>
    <input type="text" id="name" name="name"> <br>

    <label for="manufacturer">Manufacturer </label> <br>
    <input type="text" id="manufacturer" name="manufacturer"> <br>

    <label for="releaseyear">Release Year </label> <br>
    <input type="number" id="releaseyear" name="releaseyear"> <br>
    
    <input type="submit" value="Submit">
    </form>



    <p>Prototype</p>
</div>
